<div class="row h-100 justify-content-center">
	<div class="col-3 shadow-3 align-self-center main px-5 py-5 rounded">
		<div class="row mb-4 justify-content-center">
			<div class="col-4">
				<img src="assets/logo_entero.svg" class="rounded mx-auto w-100" alt="...">
			</div>
		</div>
		<p class="h2 text-center mb-5">Registrarse</p>
		<div class="row form-container">
			<div class="col">
				<mat-form-field class="w-100">
					<input matInput [(ngModel)]="user.name" placeholder="Nombre">
				</mat-form-field>
				<mat-form-field class="w-100">
					<input matInput [(ngModel)]="user.alias" placeholder="Alias">
				</mat-form-field>
				<mat-form-field class="w-100">
					<input matInput [(ngModel)]="user.email" placeholder="E-mail">
				</mat-form-field>
				<mat-form-field class="w-100">
					<input matInput [(ngModel)]="user.ieee" type="number" placeholder="IEEE">
				</mat-form-field>
				<mat-form-field class="w-100">
					<input matInput [(ngModel)]="user.password" type="password" placeholder="Contraseña">
				</mat-form-field>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-auto">
				<ieeesb-button (click)="register()" label="Registrarse"></ieeesb-button>
			</div>
		</div>
		<p class="error my-3" *ngIf="error">{{error}}</p>
		<p class="h6 mt-5">Si ya tienes una cuenta, <a class="link" routerLink="/login">Inicia Sesión!</a></p>
	</div>
</div>
