<div class="row h-100 mx-0 px-0 justify-content-center main">
	<div class="col-12 py-5">
		<ieeesb-title title="Servicios" linkLabel="Añadir Servicio" link="/services/add"></ieeesb-title>
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10 col-xl-8 mt-3">
				<ieeesb-section>
					<ieeesb-list [items]="services" [labels]="['Nombre', 'Id', 'Scope']" [keys]="['name', '_id', 'scope']" link="/services/" linkKey="_id" linkLabel="Editar"></ieeesb-list>
				</ieeesb-section>
			</div>
		</div>
	</div>
</div>
