@import '../../variables.less';

.profile {
	min-height: 100% !important;
}

.main {
	background-color: @bg-color
	//border-radius: 6px;
	//padding-top: 5rem;
	//padding-bottom: 5rem;
}

.main {
	@media (min-width: 992px) {
		height: 100%;
	}
	height: calc(100% - 50px);
	background-color: #f8f8f8;
	overflow-y: auto;
}
