<div class="row h-100 mx-0 justify-content-center main">
	<div class="col-12 col-lg-10 col-xl-8 py-5 px-3">
		<ieeesb-section>
			<p class="h5 text-center mb-3" *ngIf="!editing">Añadir Servicio</p>
			<p class="h5 text-center mb-3" *ngIf="editing">Editar Servicio</p>

			<div class="row justify-content-center mt-2">
				<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
					<mat-form-field class="w-100">
						<input matInput [(ngModel)]="service.name" placeholder="Nombre">
					</mat-form-field>
					<ieeesb-tags [(item)]="service.scope" [tags]="['name', 'alias', 'email', 'ieee']" label="Scope"></ieeesb-tags>
					<mat-form-field class="w-100" *ngIf="editing">
						<input matInput [ngModel]="service._id" placeholder="Id" disabled>
					</mat-form-field>
					<mat-form-field class="w-100" *ngIf="editing">
						<input matInput [ngModel]="service.secret" placeholder="Secreto" disabled>
					</mat-form-field>
					<div class="row justify-content-between mt-5">
						<div class="col" *ngIf="!editing">
							<ieeesb-button label="Añadir" (click)="addService()"></ieeesb-button>
						</div>
						<div class="col" *ngIf="editing">
							<ieeesb-button label="Actualizar" (click)="updateService()"></ieeesb-button>
						</div>
						<div class="col" *ngIf="editing">
							<ieeesb-button label="Eliminar" [danger]="true" (click)="removeService()"></ieeesb-button>
						</div>
					</div>
				</div>
			</div>
			<p class="error my-3" *ngIf="error">{{error}}</p>
		</ieeesb-section>
	</div>
</div>
