<div class="row h-100 mx-0 justify-content-center">
	<div class="col-3 shadow-center-3  align-self-center main px-5 py-5 rounded">
		<div class="row mb-4 justify-content-center">
			<div class="col-4">
				<img src="assets/logo_entero.svg" class="rounded mx-auto w-100" alt="...">
			</div>
		</div>
		<p *ngIf="service" class="h2 text-center mb-5">{{service.name}}</p>
		<p class="h5 text-center mb-4">Quiere acceder a los siguientes datos:</p>
		<div *ngIf="service">
			<mat-slide-toggle color="primary" [ngModel]="scope.indexOf(tempScope) >= 0" (ngModelChange)="toggleScope(tempScope, $event)" *ngFor="let tempScope of service.scope">tempScope | scope</mat-slide-toggle>
		</div>

		<ieeesb-button (click)="grant()" label="Autorizar"></ieeesb-button>
		<p class="error my-3" *ngIf="error">{{error}}</p>
	</div>
</div>
